@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.username-list-item li {
  padding: 10px;
  border-bottom: 1px solid #555;
  padding-left:35px;
  list-style:none;
  position: relative;
}
.username-list-item:hover{
  background: #666;
}

.username-item {
  color: white;
}
.messages {
  color: black;
  position: relative;
  height: 100%;
}
.complete-message{
  display: flex;
  padding: 10px;
}
.message-bubble {

  background: #fff;
  padding: 0.5em 0.9em 0.5em 0.9em;
  border-radius: 20px;
  font-size: 0.8em;
  margin-bottom: 1.1em;
  margin-left: 1.1em;
  line-height: 1.5em;

}
